body{
  margin: 0;
}
.loaderstylingadjustmentclass{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(99, 98, 98, 0.300); 
  backdrop-filter: blur(2px); /* Adds a blur effect for a modern look */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 1050; 
}